@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700&display=swap');

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-museo {
  font-family: 'MuseoModerno', cursive;
}

body  {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;  
  background-size: 100% 100%;
  background-position: center;
}

@media (max-width: 840px) {
  body {
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;  
    background-size: auto 100%;
    background-position: 11% 75%;;
  }
}